* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
.news-cycle-regular {
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news-cycle-bold {
  font-family: "News Cycle", sans-serif;
  font-weight: 700;
  color: #026985;
  font-style: normal;
}
body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 427px) {
  /* Adjust font size for better readability on mobile devices */
  .texthtm p {
    font-size: 18px;
  }
}

/* styles.css */

/* Light mode styles */
.light-bg {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.light-text {
  color: #026985; /* Custom color for IPL in light mode */
}

/* Dark mode styles */
.dark-bg {
  background-color: #161b22;
  color: #ffffff;
  border-color: #ffffff;
}

.dark-text {
  color: #026985; /* Custom color for IPL in dark mode */
}

/* Add more styles as needed */

body {
  font-family: "Bebas Neue", sans-serif;

  transition: all 1.5s ease;
}
ul li {
  cursor: pointer;
  transition: all 0.14s ease;
  scale: 1;
}
.cat li:hover {
  scale: 1.12;
}
input:focus {
  outline: none;
}
.dotted {
  border: 1px dotted #000;
  border-radius: 8px;
}
::selection {
  background-color: #026985;
  color: #fff;
}
.texthtm {
  text-rendering: geometricPrecision;
}
.texthtm h2 {
  font-size: 2rem;
}
.texthtm h1 {
  font-size: 2.4rem;
}
/* Reset some default styles for better consistency */
.texthtm table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

/* Style the table header */
thead tr {
  background-color: #f2f2f2;
  border: 1px solid #000000;
  padding: 12px;
  text-align: left;
}
thead {
  border-bottom: 1px solid #ccc;
}

/* Style alternating rows */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  border: 1px solid #4d4d4d;
  padding: 12px;
}

tbody tr:hover {
  background-color: #e5e5e5;
}
